.search-form {
  position: relative;

  &__input {
    border-radius: 0.3125rem;
    background: $grey;
    border: 0.0625rem solid $grey;
    padding: 0.5625rem 1rem 0.5625rem 3.75rem;
    width: 100%;

    @include _600 {
      padding: 0.5625rem 1rem 0.5625rem 2.5rem;
    }

    &:active {
      border: 0.0625rem solid $darkGrey;
    }

    &::placeholder {
      color: $light;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 137.5%;
    }
  }

  &__submit {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-44%);
    background-color: transparent;
    border: none;

    @include _600 {
      left: 2px;
    }
  }

  &__clear {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;

    &.active {
      display: block;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #000b1c;

      &:nth-child(1) {
        transform: rotate(-45deg) translate(-8px, 8px);
      }

      &:nth-child(2) {
        transform: rotate(45deg) translate(8px, 8px);
      }
    }
  }
}
