.search-form {
  position: relative;

  &__input {
    border-radius: 0.3125rem;
    background: $grey;
    border: 0.0625rem solid $grey;
    padding: 0.5625rem 1rem 0.5625rem 3.75rem;
    width: 100%;

    @include _600 {
      padding: 0.5625rem 1rem 0.5625rem 2.5rem;
    }

    &:active {
      border: 0.0625rem solid $darkGrey;
    }

    &::placeholder {
      color: $light;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 137.5%;
    }
  }

  &__submit {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-44%);
    background-color: transparent;
    border: none;

    @include _600 {
      left: 2px;
    }
  }
}
