@import "../layouts/header-sipmple-page";

body.error404 {
  .content {
    margin: 4rem 0;
    min-height: calc(100vh - 53rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
